[[extend 'layout.html']]

<style>
  .account {
    background-color: rgb(10, 10, 88);
  }
</style>


<div class="section">
  <div class="tile is-parent account">
    <article class="tile is-child notification is-warning">
      <div class="section">
        <p class="title"> Account information:</p>
        <table class="table is-bordered is-vertical is-warning">
          <tbody>
            <tr>
              <th>Email</th>
              <td>[[= account_info]]</td>
            </tr>
              <th>Phone Number</th>
              <td>[[=rows[0]['Phone']]]</td>
            </tr>
            <tr>
              <th>Preferred Payment</th>
              <td>[[=rows[0]['Payment']]]</td>
            </tr>
            <tr>
              <th>College Affiliation</th>
              <td>[[=rows[0]['College']]]</td>
            </tr>
            <tr>
              <a class="button" href="[[=URL('edit', rows[0]['id'], signer=url_signer)]]">
                <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> <span>Edit</span>
              </a>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
  
</div>

<div class = "section">
  <p class = "title">Your Listings</p>
  <div class="tile is-ancestor">
    [[for i, product in enumerate(products):]]
      [[if i % 4 == 0:]]
        </div>
        <div class="tile is-ancestor">
      [[pass]]
      
        <div class="tile is-parent is-3">
            <a class="tile is-child box" href="[[ =URL('description', product['id']) ]]">
              <figure class="image is-4by3">
                <img src="[[ = product['Image'] ]]" alt="Product Image">
              </figure>
              <p></p>
              <p><strong>[[= product['Name']]]</strong></p>
              <p><strong>Condition:</strong> [[= product['Condition']]]</p>
              <p><strong>Category:</strong> [[= product['Category']]]</p>
              <p><strong>Price:</strong> [[= product['Price']]]</p>
            </a> 

            <div class="buttons is-flex is-flex-direction-column">
              <a class="button is-warning" href="[[=URL('edit_listing', product['id'], signer=url_signer)]]">
                <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
                <span>Edit</span>
              </a>
              <a class="button is-danger" href="[[=URL('delete_listing', product['id'])]]">
                <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                <span>Delete</span>
              </a>
          </div>
        </div>

        
      
    [[pass]]
  </div>
</div>