[[extend 'layout.html']]

<!DOCTYPE html>
<html lang="en">
<head>
  
</head>


 
<!-- NAVIGATION LINKS -->
<style>
  [v-cloak] {
        display: none;
  }
</style>
    
    
<div class="section" id="vue-target" v-cloak>
  


<div class="control has-icons-right">
  <input class="input is-rounded" type="text" placeholder="Search users" v-model="query" @keyup="get_products" />
  <!-- <span class="icon is-small is-right clickable" @click="clearQuery">
    <i class="fa fa-times-circle"></i>
  </span> -->
  
</div>

  


<!-- NAVIGATION LINKS -->
<div class="navbar-menu has-border">
  <div class="navbar-start">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Categories
      </a>
      <div class="navbar-dropdown" id="dropdown">
        <a class="navbar-item" href="[[ =URL('filter', 'Clothing') ]]">
          Clothing
        </a>
        <a class="navbar-item" href="[[ =URL('filter', 'Electronics') ]]">
          Electronics
        </a>
        <a class="navbar-item" href="[[ =URL('filter', 'Dorm Gear') ]]">
          Dorm Gear
        </a>
        <a class="navbar-item" href="[[ =URL('filter', 'School Supplies') ]]">
          School Supplies
        </a>
        <a class="navbar-item" href="[[ =URL('filter', 'Free Stuff') ]]">
          Free Stuff
        </a>
        <a class="navbar-item" href="[[ =URL('filter', 'Other') ]]">
          Other
        </a>
      </div>
    </div>
  <!--    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Price (Enter Maximum)   
      </a>
      <div class="navbar-dropdown" id="dropdown-condition">
        <input class="input" type="text" placeholder="Maximum" v-model="maxInputValue"/>
      </div>
    </div>
    -->

  </div>
</div>


<!--  ITEMS -->
<div>
  <div v-if="query.length > 0">
    <h1 class="title" style="margin-left: 20px; margin-top: 40px;">
      <span style="font-size: 25px;">You Searched: {{ query }}</span>
    </h1>

    <div class="tile is-ancestor" style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 20px;">
      <div v-for="(result, i) in results" :key="i">
    
        <div class="tile is-parent">
          <a class="tile is-child box" :href="'/Marketplace/description/' + result.id">
            <figure class="image is-4by3">
              <img :src="result.Image" alt="Product Image">
            </figure>
            <p></p>
            <p><strong>{{ result.Name }}</strong></p>
            <p><strong>Condition:</strong> {{ result.Condition }}</p>
            <p><strong>Category:</strong> {{ result.Category }}</p>
            <p><strong>Price:</strong> {{ result.Price }}</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div v-else>
    <h1 class="title" style="margin-left: 20px; margin-top: 40px;">
      <span style="font-size: 25px;">All Listings</span>
    </h1>
    
    <div class="tile is-ancestor">
      [[for i, product in enumerate(products):]]
        [[if i % 4 == 0:]]
          </div>
          <div class="tile is-ancestor">
        [[pass]]
        
          <div class="tile is-parent is-3">
              <a class="tile is-child box" href="[[ =URL('description', product['id']) ]]">
                <figure class="image is-4by3">
                  <img src="[[ = product['Image'] ]]" alt="Product Image">
                </figure>
                <p></p>
                <p><strong>[[= product['Name']]]</strong></p>
                <p><strong>Condition:</strong> [[= product['Condition']]]</p>
                <p><strong>Category:</strong> [[= product['Category']]]</p>
                <p><strong>Price:</strong> [[= product['Price']]]</p>
              </a>
          </div>
        
      [[pass]]
    </div>
    
  </div>
      
  

</div>
</div>


[[block page_scripts]]
<script>
  let get_products_url = "[[=XML(get_products_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]