[[extend 'layout.html']]

<!DOCTYPE html>
<html lang="en">
<head>
  <!--
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SlugSells</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  -->

</head>


 <!-- 
  <nav class="navbar has-shadow is-warning">

 LOGO / BRAND 
  <div class="navbar-brand">
    <a class="navbar-item" href = "[[=URL('index')]]">
      <img src="[[=URL('static', 'images/slugsells.png')]]" alt="site logo" style="max-height: 70px" class="py-2 px-2"> 
    </a>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  
   SEARCH BAR 
<div class="navbar-menu">
  <div class="navbar-start">
    <div class="navbar-item search-bar">
      <div class="control has-icons-right">
        <input class="input is-expanded" type="text" placeholder="Search">
        <span class="icon is-small is-right">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>
  
  NAV BAR 

  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a class="navbar-item" href="[[=URL('add')]]">Add Listing</a>
      <a class="navbar-item">My Account</a>
      <a class="navbar-item">Shopping Cart (0)</a>
    </div>
  </div>
</nav>
-->
<!-- NAVIGATION LINKS -->
<style>
  [v-cloak] {
        display: none;
  }
</style>
    
    
<div class="section" id="vue-target" v-cloak>
  
  <!-- SEARCH BAR -->

<!--<div class="navbar-menu">
  <div class="navbar-start">
    <div class="navbar-item search-bar">
      <div class="control has-icons-right">
        <input class="input is-expanded" type="text" placeholder="Search Item" v-model="query" @keyup="get_products">
      </div>
      <span class="icon is-small is-right clickable" @click="clearQuery">
        <i class="fa fa-times-circle"></i>
      </span>
    </div>
  </div>
</div> -->

<div class="control has-icons-right">
  <input class="input is-rounded" type="text" placeholder="Search users" v-model="query" @keyup="get_products" />
  <span class="icon is-small is-right clickable" @click="clearQuery">
    <i class="fa fa-times-circle"></i>
  </span>
  
</div>

  


<!-- NAVIGATION LINKS -->
<div class="navbar-menu has-border">
  <div class="navbar-start">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Categories
      </a>
      <div class="navbar-dropdown" id="dropdown">
        <a class="navbar-item" href="[[ =URL('filter', 'Clothing') ]]">
          Clothing
        </a>
        <a class="navbar-item" href="#">
          Electronics
        </a>
        <a class="navbar-item" href="#">
          Dorm Gear
        </a>
        <a class="navbar-item" href="#">
          School Supplies
        </a>
        <a class="navbar-item" href="#">
          Free Stuff
        </a>
        <a class="navbar-item" href="#">
          Other
        </a>
      </div>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        Condition
      </a>
      <div class="navbar-dropdown" id="dropdown-condition">
        <a class="navbar-item" href="#">
          New
        </a>
        <a class="navbar-item" href="#">
          Used - Like New
        </a>
        <a class="navbar-item" href="#">
          Used - Good
        </a>
        <a class="navbar-item" href="#">
          Used - Fair
        </a>
      </div>
    </div>
  </div>
</div>


<!--  ITEMS -->
<div>
  <div v-if="query.length > 0">
    <h1 class="title" style="margin-left: 20px; margin-top: 40px;">
      <span style="font-size: 25px;">You Searched: {{ query }}</span>
    </h1>

    <div class="tile is-ancestor" style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 20px;">
      <div v-for="(result, i) in results" :key="i">
    
        <div class="tile is-parent">
          <a class="tile is-child box" :href="'/Marketplace/description/' + result.id">
            <figure class="image is-4by3">
              <img :src="result.Image" alt="Product Image">
            </figure>
            <p></p>
            <p><strong>{{ result.Name }}</strong></p>
            <p><strong>Condition:</strong> {{ result.Condition }}</p>
            <p><strong>Category:</strong> {{ result.Category }}</p>
            <p><strong>Price:</strong> {{ result.Price }}</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div v-else>
    <h1 class="title" style="margin-left: 20px; margin-top: 40px;">
      <span style="font-size: 25px;">All Listings</span>
    </h1>
    
    <div class="tile is-ancestor">
      [[for i, product in enumerate(products):]]
        [[if i % 4 == 0:]]
          </div>
          <div class="tile is-ancestor">
        [[pass]]
        
          <div class="tile is-parent is-3">
              <a class="tile is-child box" href="[[ =URL('description', product['id']) ]]">
                <figure class="image is-4by3">
                  <img src="[[ = product['Image'] ]]" alt="Product Image">
                </figure>
                <p></p>
                <p><strong>[[= product['Name']]]</strong></p>
                <p><strong>Condition:</strong> [[= product['Condition']]]</p>
                <p><strong>Category:</strong> [[= product['Category']]]</p>
                <p><strong>Price:</strong> [[= product['Price']]]</p>
              </a>
          </div>
        
      [[pass]]
    </div>
    
  </div>
      
  

</div>
</div>


[[block page_scripts]]
<script>
let get_products_url = "[[=XML(get_products_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]